.root {
    -fx-background-color: #1a1a1a;
}

.menu-button {
    -fx-pref-width: 17em;
    -fx-pref-height: 4em;
    -fx-background-color: #333333;
    -fx-text-fill: white;
    -fx-font-size: 2em;
    -fx-font-family: "Arial Black";
    -fx-border-color: #555555;
    -fx-border-width: 0.18em;
    -fx-background-radius: 0.8em;
    -fx-border-radius: 0.8em;
}

.menu-button:hover {
    -fx-background-color: #4CAF50;
    -fx-cursor: hand;
}

.settings-button {
    -fx-font-size: 2.6em;
    -fx-background-color: transparent;
    -fx-text-fill: #cccccc;
}

.settings-button:hover {
    -fx-text-fill: white;
    -fx-cursor: hand;
    /* -fx-effect: dropshadow(gaussian, rgba(255,255,255,0.5), 10, 0, 0, 0); */
}