.title-label {
    -fx-padding: 1em 0 1em 0;
    -fx-font-size: 5.3em;
    -fx-font-family: "Impact";
    -fx-text-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, aqua 0%, red 50%);
    /* -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 10, 0, 5, 5); */
}

.menu-box {
    -fx-spacing: 1.6em;
}

.settings-box {
    -fx-padding: 0 0 1.6em 1.6em;
}