.title-label {
    -fx-padding: 1em 0 0.5em 0;
    -fx-font-size: 6em;
    -fx-font-family: "Impact";
    -fx-text-fill:  rgb(90, 170, 170) 0%;
    /* -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 10, 0, 5, 5); */
}

.center-box {
    -fx-border-color: #606060;
    -fx-border-width: 0 0 0 0.083em;
    -fx-padding: 1em 1em 3em 1em;
    -fx-spacing: 1.7em;
}

.sound-box {
    -fx-spacing: 1.6em;
    -fx-padding: 0.5em 1em 0.5em 4em;
}

.radio-box {
    -fx-spacing: 1.6em;
    -fx-padding: 0.5em 1em 0.5em 4em;
}

.setting-label {
    -fx-text-fill: white;
    -fx-font-size: 1.5em;
    -fx-font-family: "System Bold";
}

.radio-label {
    -fx-text-fill: white;
    -fx-font-size: 1em;
    -fx-font-family: "System";
}

.sound-slider {
    -fx-pref-width: 16em;
}